.footer-container {
  margin-top: 1rem;
}

.footer {
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 0.5rem 1rem;
  height: auto;
  min-height: 3rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  width: 100%;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer-link {
  color: var(--accent-lighter-color);
  text-decoration: none;
  font-size: 0.85rem;
  transition: color 0.2s ease;

  &:hover {
    text-decoration: underline;
  }
}

.copyright {
  p {
    color: var(--accent-lighter-color);
    font-size: 0.8rem;
    margin: 0;
  }
}

@media (max-width: 48rem) {
  .footer-content {
    flex-direction: column;
    gap: 0.5rem;
  }

  .copyright {
    margin-bottom: 0.5rem;
  }

  .footer-links {
    gap: 1rem;
  }
}
