<div class="component-container event-details-container">
  <h1 class="primary-heading">Gracie Abrams: The Secret of Us Deluxe Tour</h1>
  <p class="centered-text">Saturday, July 26, 2025 • 7:00 PM</p>
  <p class="centered-text">Budweiser Stage • Toronto, ON</p>

  <div class="event-image">
    <img [src]="imagePath" alt="Gracie Abrams" />
  </div>

  <h2 class="section-heading">The Experience</h2>
  <p class="standard-text">
    Join Gracie Abrams on The Secret of Us Tour for an intimate evening of raw,
    emotional storytelling. Experience songs from The Secret of Us Deluxe, and
    more, as Gracie takes you on a journey through love, growth, and
    self-discovery. Let her voice bring you closer to the heart of
    her music and the emotions that shape it.
  </p>
  <h2 class="section-heading">Venue & Tickets</h2>
  <div class="details-grid">
    <div class="detail-box">
      <span class="detail-value">$789.99</span>
      <span class="detail-subtext"
        >I Love You, I'm Sorry Deluxe VIP Package (with backstage access)</span
      >
    </div>
    <div class="detail-box">
      <span class="detail-value">Budweiser Stage</span>
      <span class="detail-subtext"
        >909 Lake Shore Blvd W, Toronto, ON, Canada</span
      >
    </div>
    <div class="detail-box">
      <span class="detail-value">July 26, 2025</span>
      <span class="detail-subtext"
        >Doors: 5:30 PM Show: 7:00 PM (opening act starts at 6:00 PM)</span
      >
    </div>
  </div>
</div>
